---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import CLI from '../components/CLI.astro';
import SelfHost from '../components/SelfHost.astro';
import Docs from '../components/Docs.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <Nav />
    <main>
        <Hero />
        <Features />
        <CLI />
        <SelfHost />
        <Docs />
    </main>
    <Footer />
</Layout>
